<html>
    <head>
        <style>
            body{
                background-color: black;
            }
            h1{
                color: wheat;
            }
            h2{
                color: cadetblue;
            }
            p{
                font-size: large;
                color: aqua;
            }
        </style>
    </head>
    <body>
        <h1>{{m}}</h1> 
        <hr> 
        <hr>
        <hr>
        <h2>Current Date and Time {{date}}</h2>
        <p>
            "Good Afternoon" May the sweet peace be part of your heart today and always and there is life shining through your sigh. May you have much light and peace...

        </p>
    </body>
</html>