<html>
    <head>
        <style>
            body{
                background-color: black;
            }
            h1{
                color: wheat;
            }
            h2{
                color: cadetblue;
            }
            p{
                font-size: large;
                color: aqua;
            }
        </style>
    </head>
    <body>
        <h1>{{m}}</h1> 
        <hr> 
        <hr>
        <hr>
        <h2>Current Date and Time {{date}}</h2>
        <p>
            “I hope our relationship always remains as wonderful as a sunset just come with me spend a beautiful evening and make it perfect Good Evening.”
        </p>
    </body>
</html>