<html>
    <head>
        <style>
            body{
                background-color: black;
            }
            h1{
                color: wheat;
            }
            h2{
                color: cadetblue;
            }
            p{
                font-size: large;
                color: aqua;
            }
        </style>
    </head>
    <body>
        <h1>{{m}}</h1> 
        <hr> 
        <hr>
        <hr>
        <h2>Current Date and Time {{date}}</h2>
        <p>
            Whatever you need is already inside you. Don't wait for others to light you. You've your own matches. A very good morning, ...
        </p>
    </body>
</html>