<html>
    <head>
        <style>
            body{
                background-color: black;
            }
            h1{
                color: wheat;
            }
            h2{
                color: cadetblue;
            }
            p{
                font-size: large;
                color: aqua;
            }
        </style>
    </head>
    <body>
        <h1>{{m}}</h1> 
        <hr> 
        <hr>
        <hr>
        <h2>Current Date and Time {{date}}</h2>
        <p>
            No matter how bad the day was, always try to end it with positive thoughts. Try to focus on the next day and hope for a sweet dream. Good night.
        </p>
    </body>
</html>